<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org.DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Customer_writeNo=#{Customer_writeNo}, Customer_writeTitle=#{Customer_writeTitle}, 
	Customer_name=#{Customer_name}, Date_Created=#{Date_Created}, Customer_num=#{Customer_num} -->


<mapper namespace="Customer_Question_board">

	<insert id="insert"
		parameterType="dagachi.dto.CustomerQuestionDto">
		insert into
		Customer_Question(customer_writeTitle, customer_content, customer_num, Date_created, customer_name)
		values(#{customer_writeTitle},#{customer_content},#{customer_num},#{Date_Created}, #{customer_name})
	</insert>


	<update id="update"
		parameterType="dagachi.dto.CustomerQuestionDto">
		update Customer_Question set
		customer_writeTitle=#{customer_writeTitle},
		customer_name=#{customer_name},
		customer_content=#{customer_content}
		where
		customer_writeNo=#{customer_writeNo}
	</update>
	
	<update id="updateIsAnswered"
		parameterType="map">
		update Customer_Question set
		isAnswered=#{isAnswered}
		where
		customer_writeNo=#{questionId}
	</update>

	<select id="selectOne"
		resultType="dagachi.dto.CustomerQuestionDto"
		parameterType="int">
		select * from Customer_Question where
		customer_writeNo=#{customer_writeNo}
	</select>

	<delete id="delete" parameterType="int">
		delete from	Customer_Question
		where customer_writeNo=#{customer_writeNo}
	</delete>


	<select id="max" resultType="int">
		select max(customer_writeNo) from
		customer_Question
	</select>

	<select id="count" resultType="int">
		select count(*)
		from Customer_Question
	</select>

	<select id="list" parameterType="map"
		resultType="dagachi.dto.CustomerQuestionDto">
		select * from Customer_Question
		order by customer_writeNo desc
		limit #{start},#{per}
	</select>

</mapper>
