<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org.DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Owner_Question_board">
	<insert id="insert"
		parameterType="dagachi.dto.OwnerQuestionDto">
		insert into
		Owner_Question(owner_writeTitle,
		owner_content,
		owner_num, Date_created, owner_name)
		values(#{owner_writeTitle},#{owner_content},#{owner_num},#{Date_Created},#{owner_name})
	</insert>

	<update id="update"
		parameterType="dagachi.dto.OwnerQuestionDto">
		update Owner_Question
		set
		owner_writeTitle=#{owner_writeTitle},
		owner_name=#{owner_name},
		owner_content=#{owner_content}
		where
		owner_writeNo=#{owner_writeNo}
	</update>

	<update id="updateIsAnswered" parameterType="map">
		update
		Owner_Question
		set isAnswered=#{isAnswered} where
		owner_writeNo=#{questionId}
	</update>

	<select id="selectOne"
		resultType="dagachi.dto.OwnerQuestionDto" parameterType="int">
		select *
		from Owner_Question
		where
		owner_writeNo=#{owner_writeNo}
	</select>

	<delete id="delete" parameterType="int">
		delete from Owner_Question where
		owner_writeNo=#{owner_writeNo}
	</delete>

	<select id="max" resultType="int">
		select max(owner_writeNo)
		from Owner_Question
	</select>

	<select id="count" resultType="int">
		select count(*)
		from Owner_Question
	</select>

	<select id="list" parameterType="map"
		resultType="dagachi.dto.OwnerQuestionDto">
		select * from Owner_Question
		order by Owner_writeNo
		desc limit #{start},#{per}
	</select>

</mapper>