<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customerInfo">

	
	<insert id="insert" parameterType="dagachi.dto.CustomerInfoDto">
		insert into customer_SignUp(customer_email,customer_name,customer_password,
		customer_gender,customer_phoneNumber,customer_birth,customer_Join_Date)
		values(#{customer_email},#{customer_name},#{customer_password},
		#{customer_gender},#{customer_phoneNumber},#{customer_birth},#{customer_Join_Date})
	</insert>
	
	<update id="update" parameterType="dagachi.dto.CustomerInfoDto">
		update customer_SignUp set customer_password =
		 #{customer_password} where customer_num = #{customer_num}
	</update>
	
	<select id="one" parameterType="dagachi.dto.CustomerInfoDto" 
	resultType="dagachi.dto.CustomerInfoDto">
	select * from customer_SignUp where customer_num = 	1
	</select>
	
	
	<delete id="del" parameterType="dagachi.dto.CustomerInfoDto">
	delete from customer_SignUp where customer_num = #{customer_num}
	</delete>
	
	


</mapper>