<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customerOrder">

	
	<insert id="insert" parameterType="dagachi.dto.CustomerOrderDto">
		insert into Customer_Order(Customer_num,Date_of_use,Restaurant_Name,
		Number_of_people,Customer_phoneNumber,Reserv_Fee,Reserv_Confirm,Owner_num)
		values(#{Customer_num},#{Date_of_use},#{Restaurant_Name},
		#{Number_of_people},#{Customer_phoneNumber},#{Reserv_Fee},#{Reserv_Confirm},#{Owner_num})
	</insert>
	<select id=""></select>
	
	<update id="update" parameterType="dagachi.dto.CustomerOrderDto">
		update Customer_Order set Date_of_use =
		 #{Date_of_use}, Number_of_people = #{Number_of_people}, 
		 Customer_phoneNumber = #{Customer_phoneNumber},
		 where customer_num = #{customer_num}
	</update>  
	
	<select id="one" parameterType="dagachi.dto.CustomerOrderDto" 
	resultType="dagachi.dto.CustomerOrderDto">
	select * from Customer_Order natural join Restaurant_info where customer_num = #{customer_num}
	</select>
	
	
	<delete id="del" parameterType="dagachi.dto.CustomerOrderDto">
	delete from Customer_Order where customer_num = #{customer_num}
	</delete>
	
	
</mapper>